{
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./src"],
        "extensions": [".js", ".ios.js", ".android.js"],
        "alias": {
          "@assets": "./src/assets",
          "@images": "./src/assets/images",
          "@components": "./src/components",
          "@navigations": "./src/navigations",
          "@screens": "./src/screens",
          "@services": "./src/services",
          "@constants": "./src/constants",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
